p {

    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.29;
    color: #1d1e21;

}

.titelBegin {
    color: #6a6a6f;
}

.sectionList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width:768px) {
    p {
        font-size: 1rem;
        line-height: 1.5;
    }
}

@media (min-width:1440px) {}