.mainSection {
    min-width: 375px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;


}

.titleCont {

    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    margin-bottom: 40px;
}

.titleCont h2 {

    font-weight: 600;
    font-size: 1.75rem;
    line-height: 1.14;
    text-align: center;
    color: #1d1e21;
    max-width: 291px;
}

.titleCont p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.29;
    text-align: center;
    color: #93939a;
}

.storeList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.storeItem {
    background: #e7f1ed;
    border: 1.15px solid #f1f1f1;
    border-radius: 27px;

    width: 335px;
    height: 202px;
    position: relative;
}

.storeCont {
    padding: 40px;
}

.storeName {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4;
    color: #1d1e21;
}

.flexCont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.storeRating {
    display: flex;
    gap: 6px;
    align-items: center;
}

.storeRating img {
    width: 16px;
    height: 16px;
}

.ratingNumber {

    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.29;
    color: #1d1e21;
}

.storeInfo {
    display: flex;
    gap: 14px;
    align-items: center;

}

.storeStatus {
    border-radius: 8px;
    padding: 8px 16px;
    width: 65px;
    height: 34px;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #59b17a;
    background: rgba(89, 177, 122, 0.1);
}

.storeStatusClose {
    border-radius: 8px;
    padding: 8px 16px;
    width: 65px;
    height: 34px;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #e85050;
    background: rgba(232, 80, 80, 0.1);
}

.infoList {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 20px;
}

.locationItem {
    display: flex;
    gap: 8px;
}

.locationIcon {
    width: 18px;
    height: 18px;
}

.addressCont {
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.addressCont p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.29;
    color: #93939a;
}

.phoneItem {
    display: flex;
    gap: 8px;
    align-items: center;
}

.phoneIcon {
    width: 18px;
    height: 18px;
}

.phone {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.29;
    color: #93939a;
}

.firstElement {
    position: absolute;
    bottom: 32px;
    right: 0px;

}

.secondElement {
    position: absolute;
    bottom: 8px;
    right: 0px;
}

.thirdElement {
    position: absolute;
    bottom: 2px;
    right: 0px;
}


@media (min-width:768px) {
    .mainSection {
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 32px;
        padding-right: 32px;
        max-width: 768px;
    }

    .titleCont h2 {


        font-size: 2.5rem;
        line-height: 1.2;

        max-width: 552px;
    }

    .titleCont {
        margin-bottom: 64px;
    }

    .titleCont p {

        font-size: 1rem;
        line-height: 1.25;

    }

    .storeList {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
        row-gap: 32px;
        justify-content: center;
    }

    .storeItem {
        width: 344px;
        height: 232px;
        overflow: hidden;
    }

    .storeName {

        font-size: 1.25rem;

    }

    .infoList {

        gap: 18px;
        margin-top: 34px;
    }

    .addressCont p {
        font-size: 1rem;
        line-height: 1.25
    }

    .phone {
        font-size: 1rem;
        line-height: 1.25
    }

    .firstElement {
        position: absolute;
        bottom: 24px;
        right: -14px;

    }

    .secondElement {
        position: absolute;
        bottom: -4px;
        right: -24px;
    }

    .thirdElement {
        position: absolute;
        bottom: -4px;
        right: -8px;
    }
}

@media (min-width:1440px) {
    .mainSection {
        padding-left: 100px;
        padding-right: 100px;
        max-width: 1440px;
    }

    .storeList {
        gap: 32px;
        row-gap: 36px;
    }

    .storeItem {
        width: 392px;
        height: 232px;
    }

    .infoList {

        gap: 14px;

    }


    .firstElement {
        position: absolute;
        bottom: 28px;
        right: 0px;

    }

    .secondElement {
        position: absolute;
        bottom: 4px;
        right: 0px;
    }

    .thirdElement {
        position: absolute;
        bottom: 0px;
        right: 4px;
    }
}